@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stint+Ultra+Expanded&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

a{
  color: black;
  font-size: 3rem;
  padding-right: 4rem;
  margin-top: 6rem;
}

b{
  font-size: 2rem;
}
h1,h2,h3{
  font-family: 'Montserrat';
  font-weight: 600;
}

p{
  font-family: 'Stint Ultra Expanded';
  font-size: 26px;
  margin-top: 5%;
}

span{
  color:#F4816D;
}

.aboutDiv{
  height: 600px;
  padding-left: 10%;
  padding-right: 10%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-image{
  width: 100%;
  height: 100%;
}

.about-img{
  box-shadow: 10px 10px 0px 0px #F4816D;
  display: inline-block;
  margin: 3%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 70%;
  height: 35%;

}


.black-div{
  position: absolute;
  width: 70%;
  left: 15%;
  background: #000000;
  border-radius: 50px;
  text-align: center;
  color: white;
  z-index: 1;
}

.black-stick{
  width: 5px;
  height: 100%;
  background-color: #000000;
}

.ceo-image{
 border: solid;
 border-width: 5px;
 border-radius: 50%;
 border-color: white;
 width: 90px;
 height: 80px;
 
  
}

.div-header{
  font-weight: 900;
  font-size: 56px;
}

.landingDiv{
  background-image: url('../public/images/landing_background.png') ;
  background-size: contain;
  background-color: #F4816D;
  padding-left: 10%;
  padding-right: 10%;
}

.landing-img{
  width: 300px;
  height: 300px;
  background-color: white;
  background-size: cover;
  transform-origin: center center;
  rotate: 45deg;
  clip-path: inset( -100vw 0  0 -100vw);
  

}

.lang-logo{
  width: 100px;
  height: 100px;
  margin-top: 2rem;
  margin-left: 1%;
  margin-right: 1%;
}


.little-icon{
  margin-right: 1rem;
}

.number{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 48px;
}

.outer{
  filter: drop-shadow(10px 10px 10px white);
}


.pink-button{
  width: 261px;
  height: 65px;
  background: #F4816D;
  border-radius: 20px;
  font-weight: 700;
  font-size: 29px;
  border: none;
  margin-top: 2rem;
  font-family: 'Montserrat';
}

.pink-diamond{
  height: 25px;
  width: 25px;
  rotate: 45deg;
  margin-top: 1rem;
  background-color: #F4816D;
}

.projectsDiv{
  padding-left: 10%;
  padding-right: 10%;
}

.scard{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3rem;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.serviceDiv,.languagesDiv{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.scard h2 {
  font-size: 25px;
}

.small-circle{
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: #F4816D;
  border-radius: 50%;
}


.subtext{
  font-size: 18px;
  font-family: 'Montserrat';
}

.tcard{
  background-color: #eeeeee;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3rem;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.tcard-title{
  padding-left: 2rem;
}

.testimoniesDiv{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.testimony-text{
  margin-top: 2rem;
  text-align: start;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#email-button{
  padding: 0;
  width: 231px;
  height: 80px;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: bold;
  background: #F4816D;
  border: none;
  border-radius: 0px 20px 20px 0px;
}

#email-input{
display: inline;
width: 60%;
height: 80px;
background: #D9D9D9;
border: none;
border-radius: 20px 0px 0px 20px;
}

#lastDiv{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 10rem;
  background-color: #F4816D;
  text-align: center;
}

#main-img{
  rotate: -45deg;
  width: 100%;
  height: 100%;
}


#top-name{
  display: inline;
  font-family: 'Stint Ultra Expanded';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
}

#top-bar{
  display: flex;
  align-items: center;
}

#yellow-button{
  display: inline;
  width: 211px;
  height: 52px;
  background: #FFA500;
  border-radius: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  border: none;
}